.contact-us .contact-info {
  background-color: var(--dark-green-color);
}
.contact-us .contact-info .info-box {
  background-color: var(--main-green-color);
}
.contact-us .contact-info .info-box .info-icon {
  color: white;
  transition: var(--main-transition);
  font-size: 18px;
}
.contact-us .contact-info .info-box:hover .info-icon {
  background-color: white;
  color: var(--main-green-color);
}
.contact-us .contact-form {
  box-shadow: 0px 0px 5px 1px #ccc;
}
.contact-us .contact-form form input,
.contact-us .contact-form form textarea {
  border: 1px solid var(--main-green-color);
  caret-color: var(--main-green-color);
}
.contact-us .contact-form form textarea {
  resize: none;
  height: 200px;
}
.contact-us .contact-form form .main-btn {
  color: white;
  background-color: var(--main-green-color);
  width: fit-content;
}
